.speciality {
  margin: 10px 20px;
  background-color: transparent;
  width: 300px;
  /* height: 300px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speciality > h1 {
  font-weight: 400;
  color: black;
  font-size: 25px;
  /* text-shadow: 0px 0px 3px rgb(65, 65, 65); */
  width: 100%;
  text-align: center;
  margin-bottom: 10px;;
}
.speciality-image {
  height: 280px;
  width: 280px;
}
.speciality > p{
  padding:10px 15px;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .speciality {
    margin: 10px 10px;

  }
}

@media (max-width: 970px) {
  .speciality {
    margin: 10px 10px;
    width: 250px;
    /* height: 250px; */
  }
  .speciality > h1 {
    font-size: 25px;
  }
  .speciality-image {
    height: 230px;
    width: 230px;
  }
}
@media (max-width: 820px) {
  .speciality {
    margin: 10px 10px;

    width: 230px;
    /* height: 230px; */
  }
  .speciality > h1 {
    top: 45px;
    font-size: 22px;
  }
  .speciality-image {
    height: 210px;
    width: 210px;
  }
}
@media (max-width: 768px) {
  .speciality {
    margin: 10px 10px;

    width: 350px;
    /* height: 350px; */
  }
  .speciality > h1 {
    top: 70px;
    font-size: 25px;;
  }
  .speciality-image {
    height: 330px;
    width: 330px;
  }
}
@media (max-width: 460px) {
  .speciality {
    margin: 10px 10px;

    width: 300px;
    /* height: 300px; */
  }
  .speciality-image {
    height: 290px;
    width: 290px;
  }
}
